body{
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#e3ecf1 25%, #156e76 90%);
    font-family: system-ui; 
  }
  
  .clearfix{
    clear: both;
  
  }
  
  .main{ 
    height: 1150px;
    width: 800px;
    background-color: white;
    box-shadow:5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
  }
   .top-selection{ 
     background-color: #156e76;
    text-align: center;
    padding: 20px;
  }
  
  .profile{
    width: 300px;
    border-radius: 10%;
    
  }
  
  .p1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px
  }

  .texto{
      margin: 50px;
  }
  
  .p1 span{ 
    font-weight: 100;
    color: rgb(53, 47, 232);
    font-weight: bold;
  }
  
  .p2{ 
    font-size: 20px;
    color: #ffffff;
    margin: 0px;
    margin-top: 10px;
  }

  .accordion{
      font-size: 1.17em;
      font-weight: bold;
  }
  #consulta_banco{
    color: #156e76;
  }

  #egg{
    font-size: 5px;
  }

